.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > .ProseMirror-widget + h1,
  > .ProseMirror-widget + h2,
  > .ProseMirror-widget + h3,
  > .ProseMirror-widget + h4 {
    margin-top: 0;
  }

  h1 {
    font-family: var(--tt-font-display);
    font-size: 1.75em;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-top: 3em;
  }

  h2 {
    font-family: var(--tt-font-display);
    font-size: 1.375em;
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 1.3;
    margin-top: 2.5em;
  }

  h3 {
    font-family: var(--tt-font-display);
    font-size: 1.125em;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1.4;
    margin-top: 2em;
  }

  h4 {
    font-family: var(--tt-font-body);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.4;
    margin-top: 2em;
  }
}
